In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set()

In [4]:
df = pd.read_csv('/Users/daviderickson/projects/datasf/data/Assessor_Historical_Secured_Property_Tax_Rolls.csv')

/Users/daviderickson/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.columns[25]

'Percent of Ownership'

In [6]:
df.dtypes

Closed Roll Year                    float64
Property Location                    object
Parcel Number                        object
Block                                object
Lot                                  object
Volume Number                         int64
Use Code                             object
Use Definition                       object
Property Class Code                  object
Property Class Code Definition       object
Year Property Built                 float64
Number of Bathrooms                 float64
Number of Bedrooms                    int64
Number of Rooms                       int64
Number of Stories                     int64
Number of Units                       int64
Zoning Code                          object
Construction Type                    object
Lot Depth                           float64
Lot Frontage                        float64
Property Area                         int64
Basement Area                       float64
Lot Area                            float64
Lot Code                             object
Tax Rate Area Code                  float64
Percent of Ownership                float64
Exemption Code                       object
Exemption Code Definition            object
Status Code                          object
Misc Exemption Value                float64
Homeowner Exemption Value           float64
Current Sales Date                   object
Assessed Fixtures Value             float64
Assessed Improvement Value          float64
Assessed Land Value                 float64
Assessed Personal Property Value    float64
Assessor Neighborhood District      float64
Assessor Neighborhood Code           object
Assessor Neighborhood                object
Supervisor District                   int64
Analysis Neighborhood                object
the_geom                             object
Row ID                               object
dtype: object

In [7]:
df.shape

(2238147, 43)

In [8]:
df.head(5)

,Closed Roll Year,Property Location,Parcel Number,Block,Lot,Volume Number,Use Code,Use Definition,Property Class Code,Property Class Code Definition,...,Assessed Improvement Value,Assessed Land Value,Assessed Personal Property Value,Assessor Neighborhood District,Assessor Neighborhood Code,Assessor Neighborhood,Supervisor District,Analysis Neighborhood,the_geom,Row ID
0,2007.0,0000 0200 BRANNAN ST0436,3774412,3774,412,25,SRES,Single Family Residential,Z,Condominium,...,660074.0,660074.0,0.0,9.0,9H,South Beach,6,Financial District/South Beach,"(37.783600301443, -122.390711686202)",200701013774412
1,2016.0,0000 1207 INDIANA ST0004,4228041,4228,041,27,SRES,Single Family Residential,Z,Condominium,...,448902.0,448902.0,0.0,9.0,9E,Potrero Hill,10,Potrero Hill,"(37.75482032723, -122.390407823087)",201601014228041
2,2010.0,0000 0383 SITUS TO BE ASSIGNEDST0000,0041102,0041,102,1,COMR,Commercial Retail,C,Commercial Stores,...,643682.0,1396687.0,0.0,8.0,8D,North Beach,3,North Beach,"(37.805391366593, -122.413327689424)",201001010041102
3,2007.0,0000 0708 NORTH POINT STT 1,0024038,0024,038,1,SRES,Single Family Residential,Z,Condominium,...,365523.0,365523.0,0.0,8.0,8E,Russian Hill,2,Russian Hill,"(37.806098058572, -122.419076819471)",200701010024038
4,2016.0,0000 0188 MARY TERESA ST0000,5054A152,5054A,152,30,SRES,Single Family Residential,D,Dwelling,...,255843.0,383764.0,0.0,10.0,10K,Bayview Heights,10,Bayview Hunters Point,"(37.713888461234, -122.399170485325)",201601015054A152

In [9]:
df.describe()

,Closed Roll Year,Volume Number,Year Property Built,Number of Bathrooms,Number of Bedrooms,Number of Rooms,Number of Stories,Number of Units,Lot Depth,Lot Frontage,...,Tax Rate Area Code,Percent of Ownership,Misc Exemption Value,Homeowner Exemption Value,Assessed Fixtures Value,Assessed Improvement Value,Assessed Land Value,Assessed Personal Property Value,Assessor Neighborhood District,Supervisor District
count,2.238146e+06,2.238147e+06,2.064000e+06,2.238147e+06,2.238147e+06,2.238147e+06,2.238147e+06,2.238147e+06,2.238147e+06,2.238147e+06,...,2.232637e+06,2.238146e+06,2.238146e+06,2.238146e+06,2.238146e+06,2.238146e+06,2.238146e+06,2.238146e+06,2.237865e+06,2.238147e+06
mean,2.012061e+03,2.063252e+01,1.941636e+03,2.364135e+00,1.048956e+00,7.823049e+00,1.470800e+00,1.835442e+00,8.669454e+00,6.056058e-02,...,1.000725e+03,9.190668e-01,2.915795e+04,3.157840e+03,7.209944e+03,4.023147e+05,3.994016e+05,3.392403e+03,6.070209e+00,6.121937e+00
std,3.164951e+00,1.288068e+01,5.587058e+01,8.784859e+00,1.069431e+01,2.376514e+01,6.567046e+00,1.532557e+01,2.180097e+01,1.662870e+00,...,1.800430e+01,1.354783e+01,1.401633e+06,4.041963e+03,7.834920e+05,3.913785e+06,2.269509e+06,2.827261e+05,3.124298e+00,3.129490e+00
min,2.007000e+03,1.000000e+00,1.024000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,2.009000e+03,9.000000e+00,1.914000e+03,1.000000e+00,0.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.072400e+04,5.093500e+04,0.000000e+00,3.000000e+00,3.000000e+00
50%,2.012000e+03,1.900000e+01,1.935000e+03,1.000000e+00,0.000000e+00,6.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.867150e+05,1.966560e+05,0.000000e+00,7.000000e+00,6.000000e+00
75%,2.015000e+03,3.200000e+01,1.962000e+03,2.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+03,1.000000e+00,0.000000e+00,7.000000e+03,0.000000e+00,3.332948e+05,4.119580e+05,0.000000e+00,9.000000e+00,9.000000e+00
max,2.017000e+03,4.400000e+01,9.185000e+03,1.002000e+03,3.800000e+03,3.606000e+03,9.990000e+02,4.000000e+03,9.996000e+01,9.939000e+01,...,9.000000e+03,6.005000e+03,7.056831e+08,7.770000e+05,6.084663e+08,7.035785e+08,5.835724e+08,1.401327e+08,1.000000e+01,1.100000e+01

In [10]:
df.columns

Index(['Closed Roll Year', 'Property Location', 'Parcel Number', 'Block',
       'Lot', 'Volume Number', 'Use Code', 'Use Definition',
       'Property Class Code', 'Property Class Code Definition',
       'Year Property Built', 'Number of Bathrooms', 'Number of Bedrooms',
       'Number of Rooms', 'Number of Stories', 'Number of Units',
       'Zoning Code', 'Construction Type', 'Lot Depth', 'Lot Frontage',
       'Property Area', 'Basement Area', 'Lot Area', 'Lot Code',
       'Tax Rate Area Code', 'Percent of Ownership', 'Exemption Code',
       'Exemption Code Definition', 'Status Code', 'Misc Exemption Value',
       'Homeowner Exemption Value', 'Current Sales Date',
       'Assessed Fixtures Value', 'Assessed Improvement Value',
       'Assessed Land Value', 'Assessed Personal Property Value',
       'Assessor Neighborhood District', 'Assessor Neighborhood Code',
       'Assessor Neighborhood', 'Supervisor District', 'Analysis Neighborhood',
       'the_geom', 'Row ID'],
      dtype='object')

In [11]:
for col in df.columns.to_list(): 
    print(np.count_nonzero(df[col].unique()), ' uniq entries in ', col)

12  uniq entries in  Closed Roll Year
207167  uniq entries in  Property Location
213831  uniq entries in  Parcel Number
5360  uniq entries in  Block
5779  uniq entries in  Lot
44  uniq entries in  Volume Number
10  uniq entries in  Use Code
10  uniq entries in  Use Definition
106  uniq entries in  Property Class Code
105  uniq entries in  Property Class Code Definition
198  uniq entries in  Year Property Built
218  uniq entries in  Number of Bathrooms
111  uniq entries in  Number of Bedrooms
397  uniq entries in  Number of Rooms
94  uniq entries in  Number of Stories
260  uniq entries in  Number of Units
159  uniq entries in  Zoning Code
16  uniq entries in  Construction Type
1940  uniq entries in  Lot Depth
148  uniq entries in  Lot Frontage
12115  uniq entries in  Property Area
1857  uniq entries in  Basement Area
13219  uniq entries in  Lot Area
5  uniq entries in  Lot Code
20  uniq entries in  Tax Rate Area Code
3411  uniq entries in  Percent of Ownership
29  uniq entries in  Exemption Code
11  uniq entries in  Exemption Code Definition
8  uniq entries in  Status Code
17335  uniq entries in  Misc Exemption Value
34  uniq entries in  Homeowner Exemption Value
7305  uniq entries in  Current Sales Date
8311  uniq entries in  Assessed Fixtures Value
505295  uniq entries in  Assessed Improvement Value
454375  uniq entries in  Assessed Land Value
12886  uniq entries in  Assessed Personal Property Value
11  uniq entries in  Assessor Neighborhood District
89  uniq entries in  Assessor Neighborhood Code
88  uniq entries in  Assessor Neighborhood
11  uniq entries in  Supervisor District
41  uniq entries in  Analysis Neighborhood
309014  uniq entries in  the_geom
2238147  uniq entries in  Row ID

In [ ]:
# cols = df.columns.to_list()
# cols = [e for e in cols if e not in ('Property Location', 'Parcel Number', 'Block', 'Lot', 'Lot Code')]
# for feature in cols:
#     print(feature)
#     print(np.count_nonzero(df[feature].unique()), ' uniq entries in ', feature)
# #     print(df[feature].dropna().head(5))
# #     sns.distplot(df[feature].dropna())
#     if np.count_nonzero(df[feature].unique()) < 10:
#         if df[feature].dtype is not 'object':
#             fig, ax = plt.subplots(figsize=(6, 4))
#             df[feature].hist()
#             ax.set_title(feature)
#             plt.show()

Closed Roll Year
12  uniq entries in  Closed Roll Year
Volume Number
44  uniq entries in  Volume Number
Use Code
10  uniq entries in  Use Code
Use Definition
10  uniq entries in  Use Definition
Property Class Code
106  uniq entries in  Property Class Code
Property Class Code Definition
105  uniq entries in  Property Class Code Definition
Year Property Built
198  uniq entries in  Year Property Built
Number of Bathrooms
218  uniq entries in  Number of Bathrooms
Number of Bedrooms
111  uniq entries in  Number of Bedrooms
Number of Rooms
397  uniq entries in  Number of Rooms
Number of Stories
94  uniq entries in  Number of Stories
Number of Units
260  uniq entries in  Number of Units
Zoning Code
159  uniq entries in  Zoning Code
Construction Type
16  uniq entries in  Construction Type
Lot Depth
1940  uniq entries in  Lot Depth
Lot Frontage
148  uniq entries in  Lot Frontage
Property Area
12115  uniq entries in  Property Area
Basement Area
1857  uniq entries in  Basement Area
Lot Area
13219  uniq entries in  Lot Area
Tax Rate Area Code
20  uniq entries in  Tax Rate Area Code
Percent of Ownership
3411  uniq entries in  Percent of Ownership
Exemption Code
29  uniq entries in  Exemption Code
Exemption Code Definition
11  uniq entries in  Exemption Code Definition
Status Code
8  uniq entries in  Status Code

In [ ]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['the_geom']:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the comma to lat
        lon.append(float(row.split(',')[0].split('(')[1]))
        # Split the row by comma, convert to float, and append
        # everything after the comma to lon
        lat.append(float(row.split(',')[1].split(')')[0]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon

In [ ]:
land_value = df['Assessed Land Value']
# plt.scatter('latitude', 'longitude', data=df, c=np.log(land_value))
# plt.colorbar()
'lat, lon backwards?'

In [ ]:
df['Assessed Land Value'].describe()

In [ ]:
df['Closed Roll Year'].describe()

In [ ]:
df_groupby_nhood = df.groupby(by='Analysis Neighborhood').mean()

In [ ]:
df_groupby_nhood.head()

In [ ]:
def